header {
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

main > section {
	grid-column: 2 / 12;
}

.cats--card-container,
.cats--card-container article,
.favorites--container,
.favorites--container article {
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
}

.cats--card-container article,
.favorites--container article {
	padding: 0 0 4rem;
	background-color: snow;
	border-radius: 2.4rem;
	overflow: hidden;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cats--card-container article img,
.favorites--container article img {
	margin-bottom: 4rem;
}

.saveCat,
.newCat,
.deleteCat,
.uploadCat form button {
	width: 20rem;
	margin: 0 auto;
	padding: 1.2rem;
	border: none;
	border-radius: 2rem;
	background-color: blanchedalmond;
	font-weight: 500;
	transition: all 0.12s ease-out;
}

.saveCat:hover,
.newCat:hover,
.deleteCat:hover,
.uploadCat form input::file-selector-button:hover,
.uploadCat form button:hover {
	transform: translateY(-0.2rem);
	box-shadow: 0 0.12rem rgba(0, 0, 0, 0.2);
}

.saveCat:active,
.newCat:active,
.deleteCat:active,
.uploadCat form input::file-selector-button:active,
.uploadCat form button:active {
	transform: translateY(0.2rem);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 720px) {
	main > section {
		grid-column: 3 / 11;
	}

	.favorites--container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 2rem;
	}
}

@media (min-width: 1440px) {
	main > section {
		grid-column: 4 / 10;
	}
}

/* Upload section */
/* Challenge, create a tumbnail section */
.uploadCat {
	margin-bottom: 4rem;
	padding: 2rem;
	background-color: #fffffc;
	border-radius: 2.4rem;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	text-align: center;
}

.uploadCat form {
	display: flex;
	flex-direction: column;
}

.uploadCat form input {
	padding: 2rem 0;
}

.uploadCat form input::file-selector-button {
	padding: 1.2rem;
	border: none;
	border-radius: 2rem;
	background-color: paleturquoise;
	transition: all 0.12s ease-out;
	cursor: pointer;
	font-size: 1.4rem;
}

.uploadCat form button {
	background-color: paleturquoise;
}
